body {
    background-color: rgb(132, 124, 109);
    text-align: center;
    width: fit-content;
    margin: auto;
    list-style-position: inside;
}

.click_to_top {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.click_to_bottom {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

a:visited {
    color: rgb(11, 228, 11);
}

a:hover {
    text-shadow: 0px 0px 5px yellow;
}

table {
    width: 60%;
    margin: auto;
    border: 3px solid;
    box-shadow: 0px 0px 5px #ff0000;
    border-collapse: collapse;
    background-color: rgb(117, 189, 189);
}

caption {
    font: 120% 'Courier New', Courier, monospace;
    text-shadow: 1px 1px yellowgreen;
}

tr, th, td {
    border: 1px solid;
    padding: 5px;
}

th {
    background-color: aquamarine;
}

tr:nth-child(even) {
    background-color: yellowgreen;
}

hr {
    padding: 2px;
    border-radius: 7px;
    border-width: 4px;
    color: yellow;
    background-color: #ff0000;
}

h1 {
    text-decoration: underline;
    text-shadow: 0px 0px 5px yellow;
}

h2 {
    border: 7px double greenyellow;
    border-radius: 10px;
    padding: 20px;
    text-shadow: 1px 1px greenyellow;
}

fieldset {
    background-color: rgba(0, 0, 0, 0.599);
    border-width: 5px;
    border-radius: 7px;
    border-color: rgb(0, 255, 0);
    box-shadow: 0px 0px 20px black;
}

legend {
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(0, 255, 0, 0.586);
}

label {
    color: rgb(0, 255, 0);
}

input {
    text-transform: capitalize;
}

iframe {
    border-radius: 20px;
    box-shadow: 0px 0px 20px #ff0000;
}