body {
    background-color: rgb(194, 139, 44);
}

hr {
    height: 2px;;
    border-radius: 7px;
    border-width: 3px;
    color: yellow;
    background-color: red;
}

h2 {
    border: 4px double greenyellow;
    border-radius: 5px;
}

fieldset {
    background-color: black;
    border-width: 5px;
    border-radius: 7px;
    border-color: rgb(0, 255, 0);
}

legend {
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(0, 255, 0, 0.497);
}

label {
    color: rgb(0, 255, 0);
}

iframe {
    border-radius: 20px
}